@use "misc"

@use "essences"
@use "contact"
@use "header"
@use "hero"
@use "planner"
@use "stats"

//main file of styling


//colors for data visualization
:root
    --chene: #000000
    --hetre: #A349A4
    --charme: #FF7F27
    --bouleau: #3F48CC
    --sapin: #880015
    --peuplier: #B5E61D
    --max-value: 2150


body
    margin: 0
    animation: pop .5s linear
    

    
@keyframes pop 
    0%
        opacity: 0

    100%
        opacity: 1




.container
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    max-width: 1200px
    margin-inline: auto
    color: misc.$text
    background-color: misc.$background


.title
    font-size: 1.75rem
    text-align: center
    margin-bottom: 2.5rem


b
    font-weight: bolder
    color: misc.$accent


@media screen and (min-width: 850px) 
    .title
        text-align: start

