$accent: #0BDE68
$background: #FAFFFA
$text: #1E211F

body
    margin: 0

    

.container
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    max-width: 1200px
    margin-inline: auto
    color: $text
    background-color: $background

.menu-btn
    z-index: 10
    background: $background
    padding: .25rem
    border-radius: .5rem

.header
    display: flex
    justify-content: space-between
    align-items: center
    padding-inline: 1rem
    padding-block: 1.5rem

    &_left
        display: flex
        gap: 2rem
        align-items: center

    &_title 
        font-size: 1.5rem
        margin: 0

    &_nav
        a
            color: $text
            text-decoration: none
            &:hover
                text-decoration: underline

        &.hidden
            display: none


.hero
    height: 90dvh
    position: relative
    color: $background
    display: flex
    align-items: stretch
    flex-direction: column
    justify-content: center  
    margin-bottom: 4rem

    &_blur
        padding: 1rem
        border-radius: 1rem
        text-align: center
        backdrop-filter: blur(5px)
        z-index: 1


    
    &_title
        font-size: 2.5rem
    &_text
        font-size: 1rem

    &_img
        inset: 0
        position: absolute
        object-fit: cover
        width: 100%
        height: 100%;

.title
    font-size: 1.75rem
    text-align: center
    margin-bottom: 2.5rem

.stats
    padding: 2rem
    margin-bottom: 4rem

    &_list
        padding: 0
        margin: 0
        display: flex
        flex-direction: column
        gap: 1.5rem
        & li
            display: flex
            flex-direction: column
            align-items: center
            & .list_title
                color: $accent
                font-size: 3rem
                font-weight: bold

b
    font-weight: bolder
    color: $accent

.essences
    padding: 2rem
    &_container
        display: grid
        row-gap: 2rem
        grid-row: 2

        & h3
            font-weight: normal

    &_list
        display: flex
        flex-direction: column
        justify-content: center

    &_images
        grid-row: 1
        position: relative

        & img
            max-width: 100%

        &_1

        &_2
            position: absolute
            bottom: 0
            right: 1rem
            height: 50%


.planner
    padding: 2rem
    &_container
        display: grid

    &_graph
        display: flex
        flex-direction: column
        gap: 1rem

    &_form
        display: grid
        gap: 1rem
        grid-template-columns: 4.3rem 1fr
        flex-direction: column
        align-items: center

        

.bar
    height: 50%
    --max-value: 2150
    display: flex

    &_container
        display: grid
        align-items: center
        grid-template-columns: 1fr 1fr
    
    &::before
        content: ""
        background-color: var(--color)
        width: calc( var(--value) / var(--max-value) * 100% )

    &::after
        content: ""
        background: #0005
        display: block
        width: calc(100% - (var(--value) / var(--max-value) * 100%))
        height: 100%



.contact
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 4rem
    &_form
        display: flex
        gap: 2rem
        flex-direction: column
        max-width: 600px

        & button
            padding-inline: 1rem
            padding-block: .5rem
            background: $accent
            color: $background
            border: none
            border-radius: .5rem

.input-wrapper
    display: flex
    flex: 1
    flex-direction: column

    label
        margin-bottom: .25rem
        color: #555

    input, textarea
        padding-inline: 1rem
        padding-block: .5rem
        border-radius: .5rem
        border: 1px solid #CCC
    textarea
        resize: none
        height: 150px

.row
    display: flex
    gap: 2rem

@media screen and (min-width: 850px) 

    .planner
        &_container
            display: grid
            gap: 2rem
            grid-template-columns: repeat(2, 1fr)
        &_graph
            grid-column: 2
            grid-row: 1
        &_form
            grid-row: 1
            grid-column: 1
            flex-direction: row
            flex-wrap: wrap
            gap: 0


    .header_nav.hidden
        display: flex !important
        gap: 1rem
        padding-inline-: 2rem


    .menu-btn
        display: none

    .hero
        &_title
            font-size: 5rem
            letter-spacing: 1rem
        &_text
            font-size: 1.5rem

    .stats
        &_list
            display: grid
            grid-template-columns: repeat(3, 1fr)
            & .list_title
                font-size: 5rem !important


    .essences
        &_container
            display: grid
            grid-template-columns: repeat(2, 1fr)
            column-gap: 4rem
            
            & h3
                font-weight: normal

    .title
        text-align: start

@media screen and (max-width: 850px) 
    .header_nav
        position: fixed
        flex-direction: column
        display: flex !important
        inset: 0
        background: $text
        align-items: center
        justify-content: center
        gap: 1rem

        & a
            color: $background !important
            font-size: 2rem
            

        &.hidden
            display: none !important